<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{block name='title'}title{/block}-后台管理系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__AVEND__bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__ACSS__font-awesome.min.css">
    <link rel="stylesheet" href="__ACSS__index.css">
    {block name="style"}style{/block}
  </head>
  <body>
    <div id="areascontent">
      {block name="main"}main{/block}
    </div>
    <script src="__AVEND__jquery/jQuery-2.2.0.min.js"></script>
    <script src="__AVEND__bootstrap/js/bootstrap.min.js"></script>
    {block name="script"}script{/block}
  </body>
</html>